@using mynewtestingapp.Models
@model mynewtestingapp.Models.TestingModel
@{
    ViewBag.Title = "View";
}

<h1 class="display-4 my-4">Test Result</h1>
<div class="row">
    <ul class="list-group col-6">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
    </ul>
    <ul class="list-group col-6 ">

        @foreach (var std in ViewData["students"] as IList<TestingResultModel>)
        {
            <li class="list-group-item ">
                @std.ApplicatioName
            </li>
        }

    </ul>
</div>