@using mynewtestingapp.Models
@model mynewtestingapp.Models.TestingModel
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Test Indexs</th>
            <th scope="col">Yes/No</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td scope="col">
            dasdsadsadsadasd
        </td>
    </tr>
        <tr>
            <td scope="col">
                dasdsadasdsadsadsadasd
            </td>
        </tr>

    @foreach (var std in ViewData["students"] as IList<TestingResultModel>)
    {
        <tr>
            <td scope="col">
                @std.ApplicatioName
            </td>
        </tr>
    }


    </tbody>
    </table>
